<<<<<<< HEAD
.contactdiv{
 display: flex;
 justify-self: center;
 align-items: center;
 flex-direction:column ;
}

.secondcontact{
 max-width: 1250px;
 display: flex;
 gap: 20px;
 padding: 10px;
 align-items: center;
 justify-content: center;
 /* background-color: antiquewhite; */
}

.contactleft{
 max-width:600px ;
 /* background-color: black; */
}

.contactright{
 width: 600px;
}


/* contact from
 */
=======
.contactdiv {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.secondcontact {
  max-width: 1250px;
  display: flex;
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  /* background-color: antiquewhite; */
}

.contactleft {
  max-width: 600px;
  /* background-color: black; */
}

.contactright {
  width: 600px;
}

/* contact from
    */
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
.orange {
  color: #ff7a01;
}

.form-container {
  max-width: 700px;
  margin: 30px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid #ff7a01;
<<<<<<< HEAD
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
=======
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #ff7a01;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #ff7a01;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #ff7a01;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: #ff7a01;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #ff7a01;
  color: #ff7a01;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #ff7a01);
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #ff7a01;
  font-weight: bold;
  background: #001925;
<<<<<<< HEAD
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
=======
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
  transition: all 0.2s ease-in-out;
}

.form-container
  .form
  .button-container
  .reset-button-container
  .reset-button:hover {
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
  background: #ff7a01;
  color: #001925;
}

<<<<<<< HEAD
.inputdiv{
 display: flex;
 /* align-items: center; */
 /* justify-self: center; */
}


.map{
 /* width: 50%; */
 /* background-color: #001925; */
}




/* socials */

/* From Uiverse.io by vinodjangid07 */ 
=======
.inputdiv {
  display: flex;
  /* align-items: center; */
  /* justify-self: center; */
}

.map {
  /* width: 50%; */
  /* background-color: #001925; */
}

/* socials */

/* From Uiverse.io by vinodjangid07 */
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
.cardsocial {
  width: fit-content;
  height: fit-content;
  /* background-color: rgb(238, 238, 238); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  /* background-color: rgb(44, 44, 44); */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
<<<<<<< HEAD
  transition-duration: .3s;
}

.containerOnes{
 background-color: white;
=======
  transition-duration: 0.3s;
}

.containerOnes {
  background-color: white;
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
<<<<<<< HEAD
  transition-duration: .3s;
=======
  transition-duration: 0.3s;
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
<<<<<<< HEAD
  transition-duration: .3s;
=======
  transition-duration: 0.3s;
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
<<<<<<< HEAD
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
=======
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
}

.socialContainer:active {
  transform: scale(0.9);
<<<<<<< HEAD
  transition-duration: .3s;
=======
  transition-duration: 0.3s;
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

<<<<<<< HEAD
.connectheading{
 color: #001925;
}


=======
.connectheading {
  color: #001925;
}

>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
/* for Accordin */

.accordion {
  width: 100%;
  max-width: 550px;
  margin-left: 10px;
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-title {
  padding: 9px;
  /* width: 20px; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background: #f7f7f7;
  cursor: pointer;
  transition: background 0.3s;
}

.accordion-title:hover {
  background: #e0e0e0;
}

.accordion-content {
  padding: 9px 15px;
  max-height: 0;
  overflow: hidden;
  /* background-color: #0072b1; */
  transition: max-height 0.3s ease-in-out;
}

.accordion-content.open {
  max-height: 200px; /* Adjust as needed */
}

<<<<<<< HEAD
.accordinside
{
 margin-left: 370px;
}


.accordinside1{
  margin-left: 420px;
}

.accordinside2{
  margin-left: 460px;

}

.accordinside3
{
  margin-left: 390px;
}
=======
.accordinside {
  margin-left: 370px;
}

.accordinside1 {
  margin-left: 420px;
}

.accordinside2 {
  margin-left: 460px;
}

.accordinside3 {
  margin-left: 390px;
}
>>>>>>> 5cf142bfd3f2ab3e12ba58cc8e22d4a85556468d
