.Td-text {
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(45deg, #dfdde1, #080808);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 4px 0px rgba(225, 223, 231, 0.6),
    7px 7px 0px rgba(255, 255, 255, 0.925),
    10px 10px 0px rgba(196, 194, 199, 0.4);
}

.Td-text:hover {
  transform: translateY(-5px) scale(1.05);
  text-shadow: 4px 4px 0px rgba(234, 234, 234, 0.6),
    7px 7px 0px rgba(137, 136, 139, 0.5), 10px 10px 0px rgba(243, 243, 243, 0.4);
} /* Glassmorphic effect for background only */

/* 3D Text Styles */
