html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: block;
  position: relative;
  min-width: 100vw;
  min-height: 100%;
  background: linear-gradient(to bottom, #020107 0%, #000000 100%);
}

.text {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -10px -75px 0 0;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: transparent;
  animation: animStar linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2560px) translateX(-2560px);
  }
}

.shooting-stars {
  position: absolute;
  width: 5px;
  height: 85px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  animation: animShootingStar 10s linear infinite;
}

@keyframes animShootingStar {
  from {
    transform: translateY(0px) translateX(0px) rotate(-45deg);
    opacity: 1;
    height: 5px;
  }
  to {
    transform: translateY(-2560px) translateX(-2560px) rotate(-45deg);
    opacity: 1;
    height: 800px;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #4a90e2, #e94e77);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
